---
// src/pages/about.astro
import Layout from '../layouts/Layout.astro';
import CategorySection from '../components/CategorySection.astro';
import { SITE_DESCRIPTION, SITE_FAVICON, SITE_TITLE } from '../settings';
import { CATEGORY_CONFIG } from '../data/category';

// 动态加载所有二级分类的网站数据
const loadSubCategorySites = async () => {
  const allSubCategories = [];
  
  for (const [categoryId, categoryInfo] of Object.entries(CATEGORY_CONFIG)) {
    const subCategories = categoryInfo.subItems || [];
    
    for (const subCategory of subCategories) {
      try {
        const sitesModule = await import(`../data/sites/${subCategory.id}.js`);
        allSubCategories.push({
          ...subCategory,
          sites: sitesModule.default || []
        });
      } catch (error) {
        console.warn(`加载失败: ${subCategory.id}`, error);
        allSubCategories.push({ ...subCategory, sites: [] });
      }
    }
  }
  
  return allSubCategories;
};

const categoryData = (await loadSubCategorySites()).map(item => ({
  ...item,
}));
---

<Layout 
  SITE_TITLE={SITE_TITLE}
  SITE_DESCRIPTION={SITE_DESCRIPTION}
  SITE_FAVICON={SITE_FAVICON}
>
如你所见，这是一个导航网站，基于Webstack-Hugo版本进行构建，迁移到了Astro。
目前仍处于开发状态，如有bug欢迎联系！<br>
仓库地址：https://github.com/Keduoli03/Astro_Enav
邮箱：2801429414@qq.com
<br>
<br>
PS：本页其实也还未完善，建议从跳转到首页开始使用
<br>
<br>
<a href="./"><i class="fa fa-home fa-lg mr-2"></i>
   <span>回到首页</span>
</a>
<br>
<br>
<br>
<br>
<br>
<br>
  {categoryData.map((data) => (
    <CategorySection 
      category={data.id}
      subCategoryName={data.name}
      subCategoryIcon={data.icon}
      sites={data.sites}
    />
  ))}
</Layout>
