---
// src/components/CategorySection.astro
import SiteCard from './SiteCard.astro';

interface Props {
  category: string;
  displayName: string; 
  mainIcon: string;
  subCategoryName: string;
  subCategoryIcon: string;
  sites: Array<any>;
}

const { displayName, mainIcon, subCategoryName, subCategoryIcon, sites } = Astro.props;
---

<div class="category-section">
  <h4 class="text-gray text-lg mb-4">
    <i class={`${mainIcon} mr-1`}></i> 
    {displayName} 
      <i class={`${subCategoryIcon} mr-1 fa-lg`}></i>
      {subCategoryName}
  </h4>
  <div class="row">
    {sites.map((site) => (
      <SiteCard data={site} />
    ))}
  </div>
</div>